.image-container {
    position: relative;
    width: 250px; /* set the width of the container to match the width of the image */
    height: 400px; /* set the height of the container to match the height of the image */
  }
.image-container1 {
    position: relative;
    width: 250px; /* set the width of the container to match the width of the image */
    height: 600px; /* set the height of the container to match the height of the image */
  }
  
  .indicator {
    content: "";
    position: absolute;
    top: 3%;
    left: 110%;
    width: 20%;
    height: 40%;
    border: 2px dashed red;
    box-sizing: border-box;
}
.img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.div {
    resize: both;
    overflow: auto;
  }
.my-link{
  color:rgb(15, 179, 230);
  font-family: Arial, sans-serif;
  font-size: 28px;
  background: linear-gradient(rgba(15, 12, 155, 0.8), rgba(255, 255, 255, 0.2));
  opacity: 0.9;
  transform: translate(00px,-150px);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  display: flex;
}
.my-link a {
text-decoration: none;
  
}
