.image-container {
    position: relative;
    top:40px;
    width: 250px; /* set the width of the container to match the width of the image */
    height: 400px; /* set the height of the container to match the height of the image */
  }
.image-container1 {
    position: relative;
    width: 250px; /* set the width of the container to match the width of the image */
    height: 600px; /* set the height of the container to match the height of the image */
  }
  
  .indicator {
    content: "";
    position:absolute;
    top: 35px;
    margin-left:60px;
    width: 30%;
    height: 40%;
    border: 5px dashed red;
    box-sizing: border-box;
}
.img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
#main-image1{
  position:relative;
  width: 500%;
  max-height: 100%;
  
}
.button-container{
  position:absolute;
  top:-50px;
  margin-left: 50px;
  
}

#up-btn{
  position:absolute;
  margin-left:20%;
  width: 100px;
}
#next-btn{
  position:relative;
  left:163px;
  width: 100px;
}




.div {
    resize: both;
    overflow: auto;
  }
.my-link{
  color:rgb(15, 179, 230);
  font-family: Arial, sans-serif;
  font-size: 28px;
  background: linear-gradient(rgba(15, 12, 155, 0.8), rgba(255, 255, 255, 0.2));
  opacity: 0.9;
  transform: translate(00px,-150px);
  justify-content: center;
  align-items: center;
  top:1000px;
  height: 50px;
  display: flex;
}
.my-link a {
text-decoration: none;
  
}
